* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, Helvetica,Arial, sans-serif;
    background: linear-gradient(#11212D, #010101);
    min-height: 550vh; /* Cambiado a min-height para mostrar el degradado */
}

header {
    background-color: rgba(34, 124, 189, 0.9); /* Color con opacidad para el header */
    height: 100px;
    display: flex;
    justify-content: center; /* Centra el contenido en el header */
    align-items: center;
    position: fixed; /* Fija el header */
    top: 0;
    left: 0;
    width: 100%; /* Ocupa todo el ancho */
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
}

.container {
    display: flex;
    justify-content: center; /* Centra el logo */
    align-items: center;
    position: relative;
    width: 100%; /* Cambiado a 100% para ajustarse al header */
    padding: 0 20px; /* Espaciado en los lados */
}

.menu-icon {
    cursor: pointer;
    position: absolute; /* Posición absoluta para el menú */
    left: 20px; /* Mantiene el icono del menú a la izquierda */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 25px;
    width: 30px;
}

.bar {
    height: 4px;
    width: 100%;
    background-color: white;
}

.logo {
    flex: 1; /* Permite que el logo ocupe el espacio disponible */
    display: flex; /* Usar flex para centrar el logo */
    justify-content: center; /* Centra el logo */
}

.logo img {
    height: 50px;
}

nav {
    position: fixed;
    top: 100px; /* Cambiado a 100px para estar debajo del header */
    left: -100%;
    width: 250px;
    height: calc(100vh - 100px); /* Altura dinámica según el tamaño de la ventana */
    background-color: #11212D;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: left 0.3s ease;
}

nav.active {
    left: 0;
    height: 200px;
}

nav ul {
    list-style: none;
}

nav ul li {
    margin: 20px 0;
    text-align: center;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

nav ul li a:hover {
    color: #227CBD;
}

/*video y imagenes*/
  
.Video {
    width: 75%;
    height: auto;
   
  }
  
  .Informacion {
    width: 30%;
    height: 50%;
    color: rgba(242,242,242,1);
    position: absolute;
    top: 205px;
    left: 65%;
    font-family: Roboto;
    font-weight: Medium;
    font-size: 20px;
    text-align: center;
  }
  
  .LogoAg {
    width: 382px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 100%;
    left: 17%;
    font-family: Roboto;
    font-weight: Bold;
    font-size: 48px;
    opacity: 1;
    text-align: center;
  }
  
  .ImgAg {
    width: 0%;
    height: 0px;
    background: url("");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 95%;
    left: 0%;
    overflow: hidden;
  }
  
  .LogoAc {
    width: 382px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 100%;
    left: 65%;
    font-family: Roboto;
    font-weight: Bold;
    font-size: 48px;
    opacity: 1;
    text-align: center;
  }
  
  .ImgAc {
    width: 0px;
    height: 0px;
    background: url("");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 95%;
    left: 60%;
    overflow: hidden;
  }
  
  .tradiciones {
    width: 362px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 232%;
    left: 5%;
    font-family: Roboto;
    font-weight: bold;
    font-size: 30px;
    opacity: 1;
    text-align: center;
    z-index: 2; /* Asegura que el texto esté sobre la imagen */
}

.imtradi {
    width: 504px;
    height: 500px;
    background: url("img/toña/Nicaragua-Cultura.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 200%;
    left: 0px;
    overflow: hidden;
    z-index: 1; /* Coloca la imagen detrás del texto */
}

  
  .nicaragua {
    width: 362px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 230%;
    left: 38%;
    font-family: Roboto;
    font-weight: Bold;
    font-size: 30px;
    opacity: 1;
    text-align: center;
    z-index: 2;
  }
  
  .imgnic {
    width: 503px;
    height: 500px;
    background: url("img/toña/img2.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 200%;
    left: 33.3%;
    overflow: hidden;
    z-index: 1;
  }
  
  .cultura {
    width: 362px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 230%;
    left: 73%;
    font-family: Roboto;
    font-weight: Bold;
    font-size: 30px;
    opacity: 1;
    text-align: center;
    z-index: 2;
  }
  
  .imgcult {
    width: 503px;
    height: 500px;
    background: url("img/toña/img3.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 200%;
    left: 66.5%;
    overflow: hidden;
    z-index: 1;
  }
  
  .logoante {
    width: 60%;
    height: 150%;
    background: url("img/toña/img1.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 260%;
    left: 20%;
    overflow: hidden;
  }
  
  .logoult {
    width: 80%;
    height: 100%;
    background: url("img/toña/Tona1-300x300.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 425%;
    left: 12%;
    overflow: hidden;
  }

/* Responsive styles for various sections */
.video-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.video-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.video {
    width: 100%;
    max-width: 800px;
    height: auto;
}

.informacion {
    width: 100%;
    max-width: 800px;
    text-align: center;
    margin-top: 20px;
}

/* Estilo del footer */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #227CBD;
    color: white;
    text-align: center;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    padding: 0 20px;
}

.social-media a {
    margin: 0 10px;
}

.social-media img {
    width: 30px;
    height: 30px;
}

.logo-footer img {
    height: 50px;
}

.copyright p {
    margin: 0;
    font-size: 20px;
  
}
.ini{
    text-decoration: none;
    color: white;
 font-weight: SemiBold;
}

/* RESPONSIVIDAD: Ajuste para pantallas pequeñas */
@media (max-width: 768px) {
    .video-container {
        flex-direction: column;
    }

    .informacion {
        font-size: 16px;
    }

    .logos-section, .tradiciones-section, .logos-final-section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .logos-section h1, .tradiciones-section h1 {
        font-size: 24px;
    }

    .img-ag, .img-ac, .imtradi, .imgnic, .imgcult, .logoante, .logoult {
        width: 100%;
        height: auto;
        margin-top: 20px;
    }

    .logoante, .logoult {
        height: auto;
    }

    .tradiciones, .nicaragua, .cultura {
        font-size: 24px;
    }

    .footer-container {
        flex-direction: column;
        text-align: center;
    }

    .logo-footer {
        margin: 10px 0;
    }

    .menu-icon {
        height: 20px;
        width: 25px;
    }

    .bar {
        height: 3px;
    }

    nav ul li {
        margin: 15px 0;
    }

    footer {
        height: auto;
        padding: 20px 10px;
    }

    .social-media img {
        width: 25px;
        height: 25px;
    }
}
